@use "variable" as variable ;

body {
  overflow-x: hidden;
  background-color: variable.$LightGrayishBlue;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
}

#appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 10%;
  box-shadow: 1px 0px 49px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 49px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 49px -12px rgba(0, 0, 0, 0.75);
  background-color: variable.$VeryLightGray;

  & .hamburger-menu{
    display: none;
  }
}

.easy-bank-nav {
  & ul {
    display: flex;
    gap: 2rem;
  }
}


.header {
  display: flex;
  //flex-flow: row-reverse wrap;
  height: 80vh;
  background-color: variable.$White;

  &__cover {
    background: url("/assets/bg-intro-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;

    & img {
      transform: translateX(300px);
      //width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
    padding: 2rem;
    flex: 1;
    padding-left: 10%;

    & h4 {
      margin-bottom: 2rem;
      font-size: variable.$heading4font-size;
      font-weight: 300;
    }

    & p {
      color: variable.$GrayishBlue;

      margin-bottom: 2rem;
      //max-width: 400px;
    }
  }
}


.section {
  padding: 7rem 10%;

  & h4 {
    font-size: variable.$heading4font-size;
    font-weight: 300;
    margin-bottom: 2rem;

  }

  & p {
    color: variable.$GrayishBlue;
  }
}


.services {
  display: flex;


  & .card {
    margin: 2rem 0;

    &__title {
      font-size: 2rem;
      font-weight: 300;
      line-height: 3rem;
      margin: 1rem 0;
    }

    &__description {
      font-size: 14px;
      color: variable.$GrayishBlue;
    }
  }
}


.article {
  padding: 7rem 10%;

  & h4 {
    margin-bottom: 2rem;
    font-size: variable.$heading4font-size;
    font-weight: 300;
  }

  &__list {
    display: flex;
    gap: 1rem;

    &-item {
      background-color: variable.$White;
      border-radius: 0 0 3px 3px;

      &-media {
        & img {
          display: inline-block;
          width: 100%;
          height: 150px;
          border-radius: 12px 12px 0 0;
        }
      }

      &-body {
        padding: 1rem;

        &-author {

          color: variable.$GrayishBlue;
          font-size: 14px;
          margin-bottom: 50px;
        }

        &-title {
          font-size: 1.5rem;
          font-weight: 300;
          margin: 5px 0;

          &:hover {
            color: variable.$LimeGreen;
          }
        }
      }

    }
  }
}


footer {
  background-color: variable.$DarkBlue;
  color: variable.$LightGrayishBlue;
  font-weight: 300;
  display: flex;
  width: 100%;
  padding: 40px 10%;

  & .social {
    flex: 1;

    & .logo {
      margin-bottom: 50px;

      & svg {
        & g:nth-child(2) {
          & path:first-child {
            fill: #fff;
          }
        }
      }
    }

    & .icon__list {
      display: flex;
      align-items: center;
      gap: 10px;

      &-item {

        cursor: pointer;

        &:hover {
          & svg path {
            fill: variable.$LimeGreen;
          }
        }

      }
    }
  }

  & .footer-nav {
    display: flex;
    flex-flow: column wrap;
   & a{
     display: block;
     height: 30%;
   }
    flex: 1;

    & table {

      color: #fff !important;

      width: 100%;

      & tbody tr td {
        width: 50%;
        padding: 10px;
      }
    }
  }

  & .copy-right {
    flex: 1.8;
    text-align: right;

    &__text {
      color: variable.$GrayishBlue;
      margin-top: 25px;
    }
  }
}


@media screen and (min-width: 360px) and (max-width: 440px) {
  .section , .article{
    margin: 1rem 10% !important;
  }
  #appbar{
    position: relative;
    z-index: 5;
    background-color: variable.$White;
    & .btn{
      display: none;
    }
    & .hamburger-menu{
      display: inline-block;
    }
  }

  .header{
    text-align: center;
    height: auto;
    justify-content: center;
    flex-flow: column-reverse wrap;
    &__info{
      text-align: center;
    & button.btn{
      margin: auto;
    }
    }

    &__cover{
      display: flex;
      justify-content: center;
      width: 100%;
      & img{
        width: 100%;
        position: relative;
        transform: translateY(-20px);

      }
    }
  }

  .easy-bank-nav {
    display: none;
  }




  .article{
    &__list{
      flex-direction: column;
      &-item{
        width: 100%;
      }
    }
  }

  .services {
    flex-direction: column;

    & .card{
      text-align: center;
    }
  }

  footer{
    flex-flow: column wrap;
    text-align: center;

    & .social{
      & .icon__list{
        justify-content: center;
      }
    }
    & .footer-nav {
      margin: 20px 0;
      a{
        text-align: center;
        margin: 15px 0;
      }
    }
   & .copy-right{
     text-align: center;
   }
  }
}

